<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EzEatin'</title>
    <script src="/js/main.js" charset="utf-8"></script>
    <script src="/js/awesomplete.js" async></script>
    <script src="/js/ingredients.js" async></script>
    <script src="/js/test.js" async></script>
   
   

      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  
   
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href= "/css/jquery-clockpicker.css">
     <link href='/css/fullcalendar.min.css' rel='stylesheet' />
      <link href='/css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

     <link rel="stylesheet" href= "/css/bootstrap-clockpicker.min.css">

     <script src='/js/moment.min.js' async></script>
      <script src='/js/fullcalendar.min.js' async></script>
      <script src="/js/bootstrap-clockpicker.min.js" async></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">



    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/awesomplete.css">
      
  
    <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark" rel="stylesheet">

  </head>
  <body>
    {{{ body }}}
  </body>
</html>
