<div style="display:none;" id="data" >{{data}}</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-md-3 col-sm-3 col-xs-3">

      <div id="ingredientsList">
        <h5>Enter your ingredients</h5>
        <input id="search" placeholder="Enter item" onkeyup="newIngredient(event);">
      </div>

      <br>
      <button  type="button" class="btn btn-success btn-xs" onclick="getAllIngredients();">Let's see what we can make!</button>

    </div>

    <div class="col-md-9 col-sm-9 col-xs-9">
      <h2>Main user interface</h2>
      <div id = "recipes"></div>
    </div>
  </div>
</div>

{{!--<div class="container">--}}
{{!--  <h3>Centered Tabs</h3>--}}
{{!--  <p>To center/justify the tabs and pills, use the .nav-justified class. Note that on screens that are smaller than 768px, the list items are stacked (content will remain centered).</p>--}}
{{!--  <ul class="nav nav-tabs nav-justified">--}}
{{!--    <li class="active"><a href="#">Home</a></li>--}}
{{!--    <li><a href="#">Menu 1</a></li>--}}
{{!--    <li><a href="#">Menu 2</a></li>--}}
{{!--    <li><a href="#">Menu 3</a></li>--}}
{{!--  </ul>--}}
{{!--  <br>--}}
{{!--  <h3>Centered Pills</h3>--}}
{{!--  <ul class="nav nav-pills nav-justified">--}}
{{!--    <li class="active"><a href="#">Home</a></li>--}}
{{!--    <li><a href="#">Menu 1</a></li>--}}
{{!--    <li><a href="#">Menu 2</a></li>--}}
{{!--    <li><a href="#">Menu 3</a></li>--}}
{{!--  </ul>--}}
{{!--</div>--}}










{{!--<script>--}}
{{!--  var ingredients = document.getElementById("data").innerHTML;--}}
{{!--  ingredients = JSON.parse(ingredients);--}}

{{!--  $.getScript('/js/awesomplete.js', function()--}}
{{!--    {--}}
{{!--      var input = document.getElementById("search");--}}
{{!--      new Awesomplete(input, {--}}
{{!--        list: ingredients--}}
{{!--      });--}}
{{!--      console.log("Suggestion bar ready");--}}
{{!--    });--}}
{{!--</script>--}}

{{!--<section class="insert">--}}
{{!--    <h3>Insert Data</h3>--}}
{{!--    <form action="/insert" method="post">--}}
{{!--        <div class="input">--}}
{{!--            <label for="title">Title</label>--}}
{{!--            <input type="text" id="ingredients" name="ingredients">--}}
{{!--        </div>--}}
{{!--        <button type="submit">INSERT</button>--}}
{{!--    </form>--}}
{{!--</section>--}}


{{!--<section class="get">--}}
{{!--    <h3>Get Data</h3>--}}
{{!--    <a href="/get-data">LOAD DATA</a>--}}
{{!--    <div>--}}
{{!--        {{# each items }}--}}
{{!--            <article class="item">--}}
{{!--                <div>Title: {{ this.title }}</div>--}}
{{!--            </article>--}}
{{!--        {{/each}}--}}
{{!--    </div>--}}
{{!--</section>--}}
