<img style="text-align:center;" class="brand" src="/Images/ezeatinv3.png" height="250" width="250"/>
<div class="container">
  <div class="row">
    <div class="col-md-1 col-xs-1">

    </div>
    <div class="col-md-4 col-xs-4 login">
      <section class="insert">
          <form action="/logged-in" method="post">
              <h5>Already a user, login fuck face</h5>
              {{ data }}
              <p>
                <label for="usernamesignup" class="uname" data-icon="u">Your username</label><br>
                <input id="username" name="username" required="required" type="text" placeholder="Enter username" />
              </p>
              <p>
                <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label><br>
                <input id="password" name="password" required="required" type="text" placeholder="eg. X8df!90EO"/>
              </p>
              <button type="submit">Login</button>
          </form>
      </section>
    </div>
    <div class="col-md-2 col-xs-2">

    </div>
    <div class="col-md-4 col-xs-4 newuser">
      <section class="registration">
        <form  action="/newUser" method="post" autocomplete="on">
                <h5> Sign up then cunt</h5>
                <p>
                  <label for="usernamesignup" class="uname" data-icon="u">Your username</label><br>
                  <input id="username" name="username" required="required" type="text" placeholder="Enter username" />
                </p>
                <p>
                  <label for="emailsignup" class="youmail" data-icon="e" > Your email</label><br>
                  <input id="email" name="email" required="required" type="email" placeholder="myemail@mail.com"/>
                </p>
                <p>
                  <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label><br>
                  <input id="password" name="password" required="required" type="text" placeholder="eg. X8df!90EO"/>
                </p>
                <p>
                  <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label><br>
                  <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="text" placeholder="eg. X8df!90EO"/>
                </p>
                <button type="submit">Sign up</button>
        </form>
      </section>
    </div>
    <div class="col-md-1 col-xs-1">

    </div>
  </div>
</div>
