

body {
  text-align: center;
}

.login {
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:5%;
  background-color: white;
}

#ingredientsList div {
  display: -webkit-box;
}

.image-responsive{
  width:100%;
  text-align: center !important;
  margin-right: auto;
  margin-left: auto;
}

.brand{
  text-align: center !important;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.col-md-3 {
  text-align: center;
  background-color: rgb(115, 173, 33);
  height: 800px;
}

.col-md-3 h5 {
  color: white;
}

button {
  text-align: center;
  padding:0;
}

.col-md-9 {
  text-align: center;
}

.awesomplete input {
  border-radius: 4px;
  border: 2.5px solid rgb(50, 117, 21)
}

.awesomplete {
  width: 100%;
  padding: 2%;
}
