


body {
  /*
   background:url('../Images/kitchen-background.jpg') no-repeat center center;
  min-height:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;*/
}

.login {
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:5%;
  background-color: white;
}

#ingredientsList div {
  display: -webkit-box;
}

.image-responsive{
  width:100%;
  text-align: center !important;
  margin-right: auto;
  margin-left: auto;
}

.brand{
  text-align: center !important;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.col-md-3 {
  text-align: center;
  background-color: rgb(115, 173, 33);
  height: 800px;
}

.col-md-3 h5 {
  color: white;
}

button {
  text-align: center;
  padding:0;
}

.col-md-9 {
  text-align: center;
}

.awesomplete input {
  border-radius: 4px;
  border: 2.5px solid rgb(50, 117, 21)
}

.awesomplete {
  width: 100%;
  padding: 2%;
}

/*Home Page*/
.col-md-8 {
  padding-top: 7%;
}

.col-md-4 {
  text-align: center;
}

#units {
  font-size: 12px;
}

.navbar, .container {
  margin:0;
}

.col-md-6{
  margin: 0;
  border-radius: 100px;
}
.col-md-4{
  margin: 50px 0px 10px 0px;
  border-radius: 100px;
}

.profile-pic{
  float:none;
  margin: auto;
  background-color: #E55934;

}

.profile-pic-info{
  border-radius: 300px;
  float:none;
  margin: auto;
  background-color: #FA7921;
}

.bold-cal{
  color: #FA7921;
}

.bold{
  color: #FA7921;
}

.profileName{
  color: #E55934;
}

.jumbotron{
  background-color: #FA7921;
}
