<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EzyEats</title>
    <script src="/js/main.js" charset="utf-8"></script>
    <script src="/js/awesomplete.js" async></script>
    <script src="/js/ingredients.js" async></script>



    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/awesomplete.css">
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
